.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-spacer {
  flex: 1 1 auto;
}

.flex-margin{
  margin-right: 30px;
}

.mat-drawer-inner-container{
  background: rgb(255, 136, 0) !important; 
}

.ex-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.ex-header-margin-left{
  margin-left: 30px;
}
